main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin: 10px;
    padding: 15px;
    width: 400px;
    max-width: calc(100% - 50px);
}
form>img {
    align-self: center;
    margin-bottom: 10px;
}
input {
    margin: 10px;
    padding: 10px;
    font-family: inherit;
    font-size: 120%;
    border: solid 1px #d1d3d6;
    border-radius: 6px;
}
form>label {
    font-size: 120%;
    color: #797d81;
    margin-left: 20px;
    margin-top: 10px;
}
#submit {
    background-image: linear-gradient(0deg, #004aac, #83b2ff);
    color: white;
    font-weight: 600;
    font-size: 130%;
}
#submit:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #004aac, #83b2ff);
}
#gender {
    margin: 10px;
    font-size: 120%;
}
#gender span {
    margin-right: 20px;
}
#confirmresult, #validateresult, #usernameresult {
    margin-left: 10px;
    color: red;
    font-style: italic;
}